body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 72px;
    text-align: center;
}

.result {
    background-color: whitesmoke;
    color: black;
    width: 200px;
    margin: 10px auto;
    text-align: center;
}

.containerButtons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.score {
    width: 100px;
    text-align: center;
    border: 1px solid white;
    background: white;
    color: black;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.endGame {
    background-color: whitesmoke;
    color: black;
    width: 200px;
    margin: 10px auto;
    text-align: center;
}